
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Atribuindo em todos os elementos*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/* Criando variaveis */
:root{
    --cor_principal: #dfd662;
    --cor_botao01: #c94e4e;
    --cor_lnk_menu: #3665e6;
    --cor_vermelha: #cf3737;
    --cor_suave: #cc6f6f;
    --cor_card: #6f82db;
}

/* Configurando a tag main*/
#geral{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Configurando o cabeçalho da pagina*/
#cabecalho{
    width: 100%;
    height: 200px;
    background-color: var(--cor_principal);
    padding: 5px 25px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Alterando o tamanho da imagem logo*/
#logo img{
    width: 250px;
    height: 160px;
}

/*Configurando a tag nav por meio do seu id*/
#menu{
    width: 750px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Configurando os li do ul do cabeçalho na horizontal*/
#cabecalho ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

/*Configurando os tamanhos dos icones*/
#div-icones img{
    width: 60px;
    height: 60px;
}

/*Formatando os links dos menus*/
#menu a:link{
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor_lnk_menu)
}

#menu a:visited{
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor_lnk_menu);
}

#menu a:hover{
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor_botao01)
}

#menu a:active{
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor_vermelha)
}

/*formatando section pelo id pesquisa*/
#pesquisa{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pesquisa input{
    width: 600px;
    height: 50px;
    padding: 20px;
    border-radius: 8px;
    font-size: 2em;
}

/*Formatação dos cards*/
#cards{
    background-color: var(--cor_principal);
    width: 99%;
    min-height: 60%;
    margin: 20px 0px;
    padding: 10px;
    /*display: grid - trata os elementos como uma tabela*/
    display: grid;
    /*como as colunas serão distribuidas*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    cursor: pointer;
}

.card{
    width: 90%;
    min-height: 25%;
    border: solid 1px var(--cor_botao01);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover{
    transform: translateY(-5px);
}

.btn_card:hover{
    background-color: var(--cor_principal);
    color: var(--cor_botao01);
    border-color: var(--cor_botao01);
    transform: translateY(-3px);
}

.card h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 10px 0px;
}

.card h3{
    margin: 20px 0px;
}

.card button{
    border-radius: 10px;
    width: 100%;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-color: var(--cor_principal);
    background-color: var(--cor_suave);
    color: var(--cor_principal);
    cursor: pointer;
}

.card img{
    width: auto;
    height: 200px;
    padding-bottom: 30px;
}

/*Formatação do Rodapé*/
#rodape{
    width: 100%;
    height: 120px;
    background-color: var(--cor_principal);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#dadosloja{
    font-size: 0.8em;
    display: inline;
}

#icones-sociais ul{
    list-style: none;
}

#icones-sociais img{
    width: 25px;
    height: 25px;
    margin-left: 50px;
}

#div-cartoes img{
    width: 50px;
    height: 50px;
}

/*CONFIGURANDO O MENU SEÇÕES*/
#nav-secoes, ul{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-secoes, li{
    list-style: none;
}

.lnk-secao:link, .lnk-secao:visited{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3em;
    letter-spacing: 3px;
    color: var(--cor_vermelha);
}

.right{
    border-right: solid var(--cor_vermelha);
    padding: 20px;
}

.left{
    border-left: solid var(--cor_vermelha);
    padding: 20px;
}

.lnk-secao:hover {
    font-size: 1.5em;
    color: var(--cor_vermelha);
}

.lnk-secao:active {
    color: var(--cor_principal);
}