@import url(style_estrutura_paginas.css);

/*formatação para o titulo*/
#carrinho, .titulo{
    font-size: 1.3em;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor_suave);
    border: 1px;
    border-radius: 8px;
    margin: 20px;
}

/*foramatação dos cards nos carrinhos*/

.carrinho{
    display: flex;
}

#itens-carrinho{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item{
    display: grid;
    grid-template-columns: 100px 1fr 120px 90px 120px 50px;
    align-items: center;
    border-bottom: 2px solid #b5b5b5;
    padding: 20px;
}

.img-item{
    width: 80px;
}

.descricao{
    font-size: 22px;
}

.vlr-unitario{
    margin-left: 10px;
    font-size: 18px;
}

.input-item{
    margin-left: 1px;
    width: 50px;
    height: 35px;
    text-align: center;
    font-size: 18px;
}

.tot-item{
    text-align:right;
    font-size:18px;
    margin-right: 5px;
}

.img-remover{
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

/* compra valores */

.compra{
    width: 500px;
    display:flex;
    flex-direction:column;
    gap:20px;
    padding-left:50px;
}

.valor-card{
    background:white;
    border:2px solid #000000;
    border-radius:8px;
    padding:18px;
}

.valor-card label{
    display:block;
    background:var(--cor_suave);
    text-align:center;
    padding:10px;
    margin-bottom:12px;
    border-radius:5px;
    font-weight:bold;
}

#cep{
    width:100%;
    height:40px;
    padding-left:200px;
}

.valor-total, .valor-frete, .total-pagar{
    height:40px;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    font-size:1em;
    font-weight:bold;
}

.btn-val{
    width:100%;
    height:55px;
    border:none;
    border-radius:5px;
    font-size:18px;
    color:#000000;
    cursor:pointer;
}

.btn-val:hover{
    transform: translateY(-3px);
    color: #ffffff;
}

#btn-cont{
    background:var(--cor_botao01);
}

#btn-fin{
    margin-bottom: 5px;
}

.btn-val:last-child{
    background:var(--cor_card);
}

/* RESPONSIVO */

@media(max-width:1000px){

#geral{
    width:100%;
}

.sections{
    flex-direction:column;
}

#cards-compra,
#compra-cep-cont{
    width:100%;
}

#card-compra{
    grid-template-columns:80px 1fr;
    gap:15px;
}

}